<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.dao.QnaDao">
    <insert id="insertQna" parameterType="QnaDto">
        <![CDATA[ 
        insert into qna(title, writer, content, createdat)
        values(#{title}, #{writer}, #{content}, now())
        ]]>
    </insert>
    <select id="listQna" resultType="QnaDto">
        <![CDATA[ 
        select * from qna
        ]]>
    </select>
    <update id="visitQna" parameterType="int">
        <![CDATA[ 
            update qna
            set hit = hit + 1
            where idx = #{idx}
        ]]>
    </update>
    <select id="detailQna" resultType="QnaDto">
        <![CDATA[ 
        select * from qna where idx=#{idx}
        ]]>
    </select>
    <update id="updateQna" parameterType="QnaDto">
        <![CDATA[ 
        update qna
        set title=#{title}, content=#{content}
        where idx=#{idx}
        ]]>
    </update>
    <delete id="deleteQna" parameterType="int">
        <![CDATA[ 
        delete from qna where idx=#{idx}
        ]]>
    </delete>
    <update id="replyQna" parameterType="QnaDto">
        <![CDATA[ 
            update qna
            set isReply = #{isReply}
            where idx = #{idx}
        ]]>
    </update>
</mapper>